@import "../valo/valo.scss";

@mixin apptheme {
	@include valo;

	.topMenu {
    	background: #1c1e20;
    	border: 1px solid #1c1e20;
    	box-shadow: none;
    	color: #bcbcbc;
    	font-size: 13px;
	}
	
	.v-menubar-menuitem-selected{
	    border-radius: 5px;
	}
	
	.v-formlayout .v-caption {
		text-align: right;
		width: 250px;
	}
	
	.v-label-locked .v-icon-circle{
		color: red;
		font-size: 12px;
	}
	
	.v-label-active .v-icon-circle{
		color: chartreuse;
		font-size: 12px;
	}
	
	#paginationPanel{
		padding-top: 5px!important;
	}
	
	.v-label-main{
		margin-top: -5px!important;
	}
	
	.confirm-dialog .v-label{
	    white-space: pre-wrap!important;
	}
}